.cv {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  &-body {
    position: relative;
    background: white;
    &-default {
      position: absolute;
      height: 29.7cm;
      width: 21cm;
    }
    &-main {
      color: black;
      min-height: 29.7cm;
      min-width: 21cm;
      display: flex;
      .left {
        width: 30%;
        height: 100%;
        background: var(--cv-left-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        box-sizing: border-box;
      }
    }
    &-line {
      &-item {
        position: absolute;
        height: 14px;
        background: var(--body-bg);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        box-sizing: border-box;
      }
    }
  }
  &-control {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: var(--drawer-bg);
    transition: all 0.1s linear;
    &-arrow {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      background: var(--drawer-bg);
      height: 50px;
      width: 50px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      font-size: 20px;
      transition: all 0.1s ease-out;
      svg {
        transition: all 0.1s linear;
        transform: translate(0%, 30%);
      }
      &:hover {
        transform: translate(-50%, -60%);
      }
    }
    &-form {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      &-body {
        width: 60%;
        &-tabs {
          .ant-tabs-tab-btn,
          .ant-tabs-tabpane {
            color: var(--font-color);
          }
          .label {
            margin-right: 10px;
          }
        }
      }
    }
  }
  &-control-show {
    transform: translateY(0%);
  }
  &-control-hide {
    transform: translateY(100%);
    svg {
      transform: translate(0%, 30%) rotateZ(180deg);
    }
  }
  .ant-form-item-label {
    label {
      color: var(--font-color);
    }
  }
  .ant-form-item {
    margin: 20px 10px;
  }
}
.ant-tabs-dropdown-menu-item {
  display: flex;
  align-items: center;
  .label {
    margin-right: 5px;
  }
}
