@use "@/style/index.scss";
.blog-head {
  height: 64px;
  background: var(--head-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--head-border-bottom);
  .right {
    display: flex;
    align-items: center;
    .ant-avatar {
      height: 32px;
      width: 32px;
    }
  }
  .action {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    margin-right: 10px;
    padding: 7px;
    border: 1px solid var(--head-action-color);
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: var(--drawer-item-hover-bg);
    }
  }
}
.ant-avatar {
  border: 1px solid var(--head-avatar);
  cursor: pointer;
}
.ant-drawer-content-wrapper {
  width: 320px !important;
}
.ant-drawer-mask {
  background: var(--drawer-mask) !important;
}
.ant-drawer-left {
  .avatar-drawer {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    .ant-drawer-body div:nth-child(2) {
      border-top: none;
    }
  }
}
.ant-drawer-right {
  .avatar-drawer {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
}
.avatar-drawer {
  background: var(--drawer-bg) !important;
  border-left: 1px solid var(--head-border-bottom);

  .ant-drawer-body {
    padding: 16px 6px;
    .avatar-drawer-head {
      color: var(--font-color);
      font-size: var(--font-size);
      font-weight: var(--font-weight);
    }
    .avatar-drawer-head {
      padding: 0 10px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ant-avatar {
        height: 32px;
        width: 32px;
      }
      &-left {
        display: flex;
        align-items: center;
        .info {
          margin-left: 8px;
          .nickname,
          .account {
            overflow: hidden; //溢出隐藏
            text-overflow: ellipsis; //溢出部分显示为省略号
            white-space: nowrap; //不换行
            max-width: 150px;
          }
        }
      }
      &-right {
        svg {
          cursor: pointer;
          &:hover {
            path {
              fill: var(--error);
            }
          }
        }
      }
    }
  }
}
