@use "@/style/editor.scss";
.article-detail {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  &-body {
    box-sizing: border-box;
    border-radius: 6px;
    width: 50%;
    padding: 20px;
    background: var(--markdown-bg);
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    &-head {
      padding-bottom: 20px;
      border-bottom: 1px dashed var(--font-placeholder-color);
      .title {
        font-size: 32px;
        margin-bottom: 16px;
      }
      .info {
        font-size: 14px;
        span {
          margin-right: 16px;
        }
        .name {
          color: var(--font-opacity-7);
        }
        .time {
          color: var(--font-placeholder-color);
        }
      }
    }
  }
}
