@use "@/style/index.scss";

.drawer-block {
  color: var(--font-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  border-top: 1px solid var(--head-border-bottom);
  padding: 10px 5px 5px;
  .drawer-item {
    transition: all 0.2s linear;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid transparent;
    span {
      margin-left: 8px;
    }
    &:hover {
      background: var(--drawer-item-hover-bg);
      border-radius: 5px;
      border: 1px solid var(--head-border-bottom);
    }
  }
  .drawer-item[data-active="true"] {
    margin-left: 10px;
    background: var(--drawer-item-hover-bg);
    border-radius: 5px;
    border: 1px solid var(--head-border-bottom);
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      height: 90%;
      width: 4px;
      background: var(--active-bg);
    }
  }
}
